Repository KevinKra/Dominion_fe, pull requests merged in 2019-09, with the labels that each got.

#1 Wireframe 01
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/_components/ActionCards/ActionCards.js
  src/_components/ActionCards/ActionCards.scss
  src/_components/ActivatedCards/ActivatedCards.js
  src/_components/ActivatedCards/ActivatedCards.scss
  src/_components/App/App.css
  src/_components/App/App.js
  src/_components/App/App.test.js
  src/_components/Card/Card.js
  src/_components/Card/Card.scss
  src/_components/PlayerDeck/PlayerDeck.js
  src/_components/PlayerDeck/PlayerDeck.scss
  src/_components/PlayerHand/PlayerHand.js
  src/_components/PlayerHand/PlayerHand.scss
  src/_components/PlayerSection/PlayerSection.js
  src/_components/PlayerSection/PlayerSection.scss
  src/_components/TableDeck/TableDeck.js
  src/_components/TableDeck/TableDeck.scss
  src/_components/TreasureCards/TreasureCards.js
  src/_components/TreasureCards/TreasureCards.scss
  src/_components/VictoryCards/VictoryCards.js
  src/_components/VictoryCards/VictoryCards.scss
  src/index.js
Labels: REACT, status: review

#10 Card interactions
  src/_components/ActionCards/ActionCards.js
  src/_components/Card/Card.js
  src/_components/Card/Card.scss
  src/_components/TableDeck/TableDeck.js
  src/_components/TreasureCards/TreasureCards.js
  src/_components/VictoryCards/VictoryCards.js
  src/_redux/actions/index.js
  src/_redux/reducers/combineReducers.js
  src/_redux/reducers/tableCards.js
  src/assets/card_images/Cellar.jpg
  src/assets/card_images/Copper.jpg
  src/assets/card_images/Duchy.jpg
  src/assets/card_images/Estate.jpg
  src/assets/card_images/Gold.jpg
  src/assets/card_images/Market.jpg
  src/assets/card_images/Militia.jpg
  src/assets/card_images/Mine.jpg
  src/assets/card_images/Moat.jpg
  src/assets/card_images/Province.jpg
  src/assets/card_images/Remodel.jpg
  src/assets/card_images/Silver.jpg
  src/assets/card_images/Smithy.jpg
  src/assets/card_images/Village.jpg
  src/assets/card_images/WoodCutter.jpg
  src/assets/card_images/Workshop.jpg
  src/mockData/mockCards.js
Labels: REACT, REDUX, SCSS, status: review

#15 TravisCI integration
  .travis.yml
  package-lock.json
  package.json
  src/_components/ActionCards/ActionCards.test.js
  src/_components/ActionCards/__snapshots__/ActionCards.test.js.snap
  src/_components/App/App.test.js
  src/_components/TableDeck/TableDeck.test.js
  src/_components/TableDeck/__snapshots__/TableDeck.test.js.snap
  src/_components/TreasureCards/TreasureCard.test.js
  src/_components/TreasureCards/__snapshots__/TreasureCard.test.js.snap
  src/_components/VictoryCards/VictoryCard.test.js
  src/_components/VictoryCards/__snapshots__/VictoryCard.test.js.snap
  src/setupTests.js
Labels: REACT, status: review, testing

#18 Update styling
  public/index.html
  src/_components/ActionCards/ActionCards.scss
  src/_components/App/App.css
  src/_components/Card/Card.js
  src/_components/Card/Card.scss
  src/_components/PlayerDeck/PlayerDeck.js
  src/_components/PlayerDeck/PlayerDeck.scss
  src/_components/PlayerDeck/__snapshots__/PlayerDeck.test.js.snap
  src/_components/PlayerHand/PlayerHand.js
  src/_components/PlayerHand/PlayerHand.scss
  src/_components/PlayerHand/__snapshots__/PlayerHand.test.js.snap
  src/_components/PlayerSection/PlayerSection.js
  src/_components/PlayerSection/PlayerSection.scss
  src/_components/TableDeck/TableDeck.scss
  src/_components/TreasureCards/TreasureCards.js
  src/_components/TreasureCards/TreasureCards.scss
  src/_components/TreasureCards/__snapshots__/TreasureCard.test.js.snap
  src/_components/VictoryCards/VictoryCards.js
  src/_components/VictoryCards/VictoryCards.scss
  src/_components/VictoryCards/__snapshots__/VictoryCard.test.js.snap
  src/index.js
  src/normalize.css
  src/styles/_variables.scss
Labels: REACT, SCSS, testing

#27 Feature/game start turn
  src/_components/App/__snapshots__/App.test.js.snap
  src/_components/Lobby/Lobby.js
  src/_components/PlayerSection/PlayerSection.js
  src/_redux/actions/index.js
  src/_redux/reducers/combineReducers.js
  src/_redux/reducers/gameID.js
  src/_redux/reducers/playerID.js
  src/_redux/reducers/playerName.js
  src/_utils/apiCalls.js
Labels: REACT, REDUX

#28 Feature/initiate game
  src/_components/CardBack/CardBack.js
  src/_components/Lobby/Lobby.js
  src/_components/PlayerHand/PlayerHand.js
  src/_components/PlayerHand/__snapshots__/PlayerHand.test.js.snap
  src/_components/PlayerSection/PlayerSection.js
  src/_redux/reducers/discardPile.js
  src/_redux/reducers/playerDeck.js
  src/_redux/reducers/playerHand.js
  src/_utils/apiCalls.js
Labels: REACT, REDUX, status: review

#35 Feature/handle table
  src/_components/ActionCards/ActionCards.js
  src/_components/ActionCards/__snapshots__/ActionCards.test.js.snap
  src/_components/Card/Card.js
  src/_components/Card/__snapshots__/Card.test.js.snap
  src/_components/PlayerSection/PlayerSection.js
  src/_components/TableDeck/TableDeck.js
  src/_components/TableDeck/__snapshots__/TableDeck.test.js.snap
  src/_components/TreasureCards/TreasureCards.js
  src/_components/TreasureCards/__snapshots__/TreasureCard.test.js.snap
  src/_components/VictoryCards/VictoryCards.js
  src/_components/VictoryCards/__snapshots__/VictoryCard.test.js.snap
  src/_redux/actions/index.js
  src/_redux/reducers/bought.js
  src/_redux/reducers/combineReducers.js
Labels: REACT, REDUX

#46 Feature/update styling
  package-lock.json
  package.json
  src/_components/ActivatedCards/ActivatedCards.js
  src/_components/ActivatedCards/ActivatedCards.scss
  src/_components/ActivatedCards/__snapshots__/ActivatedCards.test.js.snap
  src/_components/Card/Card.js
  src/_components/Card/Card.scss
  src/_components/Lobby/Lobby.js
  src/_components/Notification/Notification.js
  src/_components/Notification/Notification.scss
  src/_components/PlayerSection/PlayerSection.js
  src/_components/PlayerSection/PlayerSection.scss
  src/_components/PlayerSection/__snapshots__/PlayerSection.test.js.snap
  src/_components/TableDeck/TableDeck.js
  src/_components/TableDeck/TableDeck.scss
  src/_components/TableDeck/TableDeck.test.js
  src/_components/TableDeck/__snapshots__/TableDeck.test.js.snap
  src/_redux/actions/index.js
  src/_redux/reducers/combineReducers.js
  src/_redux/reducers/justBought.js
  src/_utils/apiCalls.js
  src/styles/_animations.scss
Labels: REACT, REDUX

#54 Bugfix/turn shuffle
  src/_components/ActionCard/ActionCard.js
  src/_components/ActivatedCards/ActivatedCards.js
  src/_components/ActivatedCards/__snapshots__/ActivatedCards.test.js.snap
  src/_components/PlayerSection/PlayerSection.js
  src/_components/TableDeck/TableDeck.js
  src/_utils/apiCalls.js
Labels: enhancement
